/build/
/.ccls-cache/
/CMakeLists.txt.user
/CMakeCache.txt
/CMakeFiles
/CMakeScripts
/.cmake/
/Testing
/Makefile
/cmake_install.cmake
/install_manifest.txt
/compile_commands.json
/CTestTestfile.cmake
/_deps
/ti
**/build.ninja
/.ninja_*
/bin/
/cmake-build-release
/cmake-build-debug
